.all  {
  background-image: url('');
  color: aliceblue;
}

.Title {
  font-family:'Courier New', Courier, monospace;
  text-align: center; 
}

.skills-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
