.Title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}

.Date {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}

.Description {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}